@page
@model SecurITPW.Pages.Accesses.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Access</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Access.IdPic)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Access.IdPic)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Access.IdUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Access.IdUser)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Access.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Access.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Access.SurName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Access.SurName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Access.IdHouse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Access.IdHouse)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Access.IdRoom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Access.IdRoom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Access.Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Access.Time)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Access?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
