@page
@model SecurITPW.Pages.Accesses.IndexModel

@{
    ViewData["Title"] = "Index";
}

@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <h1>Accessi</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Access[0].IdPic)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Access[0].IdUser)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Access[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Access[0].SurName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Access[0].IdHouse)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Access[0].IdRoom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Access[0].Time)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Access)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdPic)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdUser)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SurName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdHouse)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdRoom)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <form method="post">
        <button type="submit" formaction="/Accesses/DeleteAll" class="btn btn-danger">Elimina tutti gli accessi</button>
    </form>
}
else
{
    <h1>Accesso negato</h1>
}
